* {
   padding: 0;
   margin: 0;
}

li {
   list-style: none;
}

a {
   display: flex;
   text-decoration: none;
}
/* ---------------------------------- */
.nav {
   display: flex;
   width: 100vw;
   min-height: 74px;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 2;
   background-color: white;
}

.nav-text-anow {
   margin-top: 6.9px;
}

.nav-text {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 700;
   font-size: 28px;
   line-height: 45px;
   letter-spacing: 1.1px;
   text-transform: lowercase;
   color: #222222;
   margin-left: 86px;
}

.nav-li {
   display: flex;
   margin-left: 211px;
   margin-top: 1px;
}

.nav-ul {
   display: flex;
   flex-wrap: wrap;
   margin-top: 19px;
}

.nav-ul li {
   display: flex;
   align-items: center;
}

.nav-ul li:nth-child(1) {
   padding-right: 34px;
}

.nav-ul li:nth-child(2) {
   padding-right: 39px;
}

.nav-ul li:nth-child(3) {
   padding-right: 38px;
}

.nav-ul li:nth-child(4) {
   padding-right: 37px;
}

.nav-ul li:nth-child(5) {
   padding-right: 35px;
}

.nav-ul li:nth-child(6) {
   padding-right: 39px;
}

.nav-ul li:nth-child(7) {
   padding-right: 20px;
}

.nav-li-text {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   line-height: 16px;
   letter-spacing: 0.2px;
   text-transform: lowercase;
   color: #222222;
}

.parallax {
   position: relative;
   margin-top: 74px;
   background-image: url("image/first-image.png");
   min-height: 90vh;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   overflow: hidden;
}
/* ------------------II------------------- */
.container {
   max-width: 1130px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 30px;
   padding-right: 30px;
}

.img-box {
   position: relative;
}

.img-2 {
   display: block;
   position: absolute;
   top: 73px;
   margin-left: auto;
   margin-right: auto;
   left: 29.3px;
   right: 0;
   z-index: 1; 
}

.img-3 {
   display: block;
   position: absolute;
   top: 329px;
   right: 7.8%;
   width: 34px;
   height: 34px;
}

.img-4 {
   display: block;
   position: absolute;
   top: 14px;
   right: 9%;
}

.img-5 {
   display: block;
   position: absolute;
   right: 0;
   bottom: 0;
}

.img-6 {
   display: block;
   position: absolute;
   top: -74px;
}

.img-7 {
   display: block;
   position: absolute;
   top: 586px;
   left: 6.7%;
   width: 50px;
   height: 50px;
}

.design-box {
   z-index: 1;
   position: absolute;
   top: 250px;
   align-items: center;
   display: flex;
   flex-direction: column;
   margin-left: auto;
   margin-right: auto;
   left: 0;
   right: 0;
}

.design {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 70px;
   line-height: 85px;
   text-align: center;
   color: #fff;
   max-width: 630px;
   padding-left: 15px;
   padding-right: 15px;
}

.button-box {
   margin-top: 41px;
}

.button-start {
   width: 154px;
   height: 56px;
   background-color: #FD8558;
   border: 1px;
   margin-right: 23px;
}

.button-see {
   width: 154px;
   height: 56px;
   border: 2px solid #fd8558;
   background-color: #222222;
}

.button-start {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 700;
   font-size: 15px;
   line-height: 30px;
   color: #FFFFFF;
}

.button-see {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 700;
   font-size: 15px;
   line-height: 30px;
   color: #FFFFFF;
}

.text-box {
   max-width: 1200px;
   margin-left: auto;
   margin-right: auto;
}

.about-span {
   position: relative;
   /* margin-left: -115px; */
   margin-top: 52px;
}

.about {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 150px;
   line-height: 145px;
   letter-spacing: 0.1px;
   /* color: #F7F7F7; */
   color: #111;
}

.text-box-about {
   display: flex;
   justify-content: space-between;
   margin-bottom: 58px;
   margin-left: -20px;
   margin-right: -25px;
}

.ultimate-box {
   max-width: 500px;
}

.about-box {
   display: flex;
   flex-direction: column;
}

.about-us {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   line-height: 54px;
   letter-spacing: 1px;
   color: #FD8558;
   padding-bottom: 13px;
   padding-top: 24px;
}

.ultimate {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 40px;
   line-height: 54px;
   color: #333333;
   height: 230px;
   padding-right: 20px;
   max-width: 500px;
}

.text-box-1-2 {
   display: flex;
   flex-direction: column;
   max-width: 590px;
}

.text-box-1 {
   display: flex;
   padding-top: 30px;
}

.text-text-1 {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 28px;
   text-transform: capitalize;
   color: #222222;
}

.text-box-2 {
   margin-top: 10px;
}

.text-text-2 {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   line-height: 26px;
   color: #999999;
}

.about-block {
   display: flex;
   flex-wrap: wrap;
}

.holl-our {
   display: flex;
}

.about-block .holl-our img {
   max-width: 600px;
   max-height: 441px;
   padding-left: 28px;
}

.span-frankie {
   padding-left: 65px;
}

.span-our {
   display: flex;
   width: 395px;
}

.our {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 26px;
   line-height: 45px;
   color: #222222;
   margin-top: 69px;
   margin-right: 10px;
}

.our i {
   color: #FD8558;
}

.frankie-art {
   display: flex;
   flex-direction: column;
   padding-top: 92px;
}

.frankie {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 20px;
   color: #222222;
}

.art {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 22px;
   letter-spacing: 1.8px;
   color: #CACACA;  
   padding-top: 20px; 
}

.block-img {
   display: flex;
   margin-top: 190px;
   flex-wrap: wrap;
   margin-bottom: 67px;
}

.block-img-text {
   max-width: 337px;
   text-align: center;
}

.block-img-text:nth-child(1) {
   margin-right: 58px;
}

.block-img-text:nth-child(2) {
   margin-right: 58px;
}

.block-img-text img:first-child {
   padding-top: 4px;
   padding-right: 13px;
   margin-bottom: -5px;
}

.text-block {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 38px;
   color: #333333;
   padding-right: 10px;
   padding-bottom: 17px;
}

.span-text {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   line-height: 26px;
   text-align: center;
   color: #999999;
   padding-left: 4px;
   letter-spacing: 0.01px;
}

.line-block {
   display: flex;
   justify-content: center;
}

.line {
   margin-top: 40px;
   width: 606px;
   border-top:1px solid #f5f5f5;
   background: #f5f5f5;
   height: 2px;
}

.latest-block {
   display: flex;
   justify-content: space-between;
   margin-left: -20px;
   margin-right: 15px;
   margin-top: 137px;
}

.latest-block-text {
   display: flex;
   flex-direction: column;
}

.latest-block-text .latest {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 15px;
   letter-spacing: 2px;
   text-transform: uppercase;
   color: #FD8558;
   margin-bottom: 4px;
}

.latest-block-text .take {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 32px;
   line-height: 38px;
   color: #333333;
   max-width: 300px;
}

.viev-button {
   background-color: #FD8558;
   height: 56px;
   width: 156px;
   border: none;
   margin-top: 53px;
   margin-right: -36px;
}

.viev-button span {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 700;
   font-size: 15px;
   line-height: 30px;
   text-align: right;
   color: #FFFFFF;
}

.out-container {
   text-align: right;
   margin-bottom: -20px;
}

.out-container span {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 200px;
   line-height: 180px;
   color: #f7f7f7;
   margin-right: 27px;
}

.coup-img-box {
   display: flex;
   justify-content: center;
   padding-left: 15px;
   padding-right: 15px;
   margin-bottom: 115px;
   margin-top: -29px;
}

.coup-img-box-1 span {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 33px;
   color: #222222;
}

.coup-img-box-2 span {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 33px;
   color: #222222;
}

.coup-img-box-3 span {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 33px;
   color: #222222;
}

.coup-img-box-1, .coup-img-box-2, .coup-img-box-3 {
   position: relative;
}

.on-img-block {
   display: flex;
   justify-content: space-between;
   position: absolute;
   left: 20px;
   right: 20px;
   background: rgba(255, 255, 255, 0.85);
}

.on-img-block span {
   display: flex;
   align-items: center;
   margin-left: 40px;
   padding-right: 15px;
}

.coup-img-box-1 img {
   bottom: 0;
}

.coup-img-box-1 .on-img-block {
   height: 126px;
   max-width: 320px;
   bottom: 44px;
}

.coup-img-box-1:nth-child(2) .on-img-block {
   height: 126px;
   max-width: 320px;
   bottom: 44px;
}

.coup-img-box-1:nth-child(2) img {
   margin-top: -4px;
}

.coup-img-box-2 .on-img-block {
   height: 126px;
   max-width: 680px;
   bottom: 44px;
}

.coup-img-box-3 .on-img-block {
   height: 126px;
   max-width: 320px;
   bottom: 44px;
}

.coup-img-box-3:nth-child(2) .on-img-block {
   bottom: 44px;
}

.coup-img-box-3:nth-child(2) img {
   margin-top: -4px;
}

.square {
   display: flex;
   border: solid 2.5px #111;
   background-color: #fff;
   width: 42px;
   height: 42px;
   margin-top: 40px;
   margin-right: 35px;
}

.container-2 {
   max-width: 1200px;
   margin-left: auto;
   margin-right: auto;
}

.our-skills-box {
   display: flex;
   padding-left: 30px;
   padding-right: 30px;
   margin-bottom: 153px;
}

.our-skills {
   padding-left: 11px;
   padding-right: 72px;
}

.our-skills-text {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 15px;
   letter-spacing: 2px;
   text-transform: uppercase;
   color: #FD8558;
   padding-top: 39px;
}

.modern-text {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 32px;
   line-height: 38px;
   color: #222222;
   max-width: 388px;
   padding-bottom: 16px;
   margin-top: -7px;
}

.if-text {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 26px;
   color: #999999;
   max-width: 456px;
}

.img-skills-box {
   margin-top: -5px;
}

.img-skills:not(:last-child) {
   margin-bottom: 45px;
}

.img-text-line {
   display: flex;
   margin-bottom: 12px;
   align-items: center;
}

.tipe-one {
   padding-left: 305px;
   margin-bottom: -10px;
}

.tipe-two {
   padding-left: 254px;
   margin-bottom: -10px;
}

.tipe-tree {
   padding-left: 315px;
   margin-bottom: -10px;
}

.img-skills-text p {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 25px;
   color: #222222;
   display: flex;
   margin-bottom: 1px;
}

.img-skills .img-text-line .img-skills-text .web {
   letter-spacing: -0.71px;
}

.img-skills .img-text-line .img-skills-text .del {
   letter-spacing: -0.71px;
}

.img-procent p {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   line-height: 23px;
   color: #999999;
   display: flex;
   margin-left: 100px;
}

.line-box {
   display: flex;
}

.our-team-block {
   margin-left: auto;
   margin-right: auto;
   max-width: 1110px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.our-team-box {
   display: flex;
   flex-direction: column;
   max-width: 1110px;
}

.our-team-span-box span {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 15px;
   text-align: center;
   letter-spacing: 2px;
   text-transform: uppercase;
   color: #FD8558;
   margin-bottom: 28px;
   padding-left: 2px;
}

.meet-span-box span {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 32px;
   line-height: 42px;
   text-align: center;
   text-transform: capitalize;
   color: #222222;
   margin-bottom: 39px;
   padding-left: 15px;
   padding-right: 15px;
}

.our-team-span-box span, .meet-span-box span {
   display: flex;
   justify-content: center;
}

.team-block {
   display: inline-grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(1, 1fr);
   grid-column-gap: 30px;
   grid-row-gap: 30px;
   margin-bottom: 80px;
}

.team-block .img-box {
   display: flex;
   position: relative;
   align-items: center;
}

.team-block .img-box img {
   object-fit: contain;
}

.span-box {
   display: flex;
   position: absolute;
   flex-direction: column;
   left: 100px;
   top: 157px;
}

.anna, .andy, .katy, .margo, .kanye, .marta {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 30px;
   text-align: center;
   text-transform: capitalize;
   color: #ffffff;
   padding-left: 4px;
}

.margo {
   margin-left: -12px;
}

.kanye {
   margin-left: -5px;
}

.creative, .seo, .designer, .developer, .art-d, .tester {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 24px;
   text-align: center;
   color: #FCFCFC;
}

.developer {
   margin-left: -6px
}

.our-team-block button {
   background-color: #FD8558;
   height: 56px;
   width: 156px;
   border: none;
}

.our-team-block button span {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 700;
   font-size: 15px;
   line-height: 30px;
   color: #FFFFFF;
}

.button-start-work {
   display: flex;
   justify-content: center;
   margin-bottom: 115px;
}

.violet-block {
   background-color: #3A0F73;
   min-height: 760px;
}

.span-block {
   display: flex;
   justify-content: center;
}

.violet-block .span-block span {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 200px;
   line-height: 220px;
   text-align: center;
   color: rgba(170, 170, 170, 0.1);
   margin-top: 70px;
   margin-bottom: 44px;
   padding-left: 15px;
   padding-right: 15px;
}

.text-span-block {
   display: flex;
   max-width: 824px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;
}

.mini-text-block .text-span-block span {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 29px;
   text-align: center;
   letter-spacing: 0.2px;
   color: #FFFFFF;
   margin-bottom: 54px;
}

.sophie-box {
   display: flex;
   justify-content: center;
   margin-left: -24px;
}

.sophie-span {
   display: flex;
   flex-direction: column;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 22px;
   color: #FFFFFF;
   padding-top: 18px;
   margin-left: -3px;
}

.sophie-span span:nth-child(2) {
   font-size: 13px;
}

.the-our-block {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 122px;
}

.the-our-block span:not(:last-child) {
   margin-bottom: 45px;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 15px;
   text-align: center;
   letter-spacing: 2px;
   text-transform: uppercase;
   color: #FD8558;
}

.the-our-block span:not(:first-child) {
   margin-bottom: 26px;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 32px;
   line-height: 42px;
   text-align: center;
   color: #222222;
}

.tree-block {
   display: flex;
   max-width: 1140px;
   margin-left: auto;
   margin-right: auto;
}

.tree-block-img {
   display: inline-grid;
   grid-template-columns: repeat(3, 1fr);
   grid-column-gap: 30px;
}

.tree-block-info:nth-child(3) .tree-block-info-box .img-box-tree .square-mini {
   margin-left: 10px;
}

.tree-block-info {
   max-width: 360px;
}

.tree-block-info-box {
   margin-top: -4px;
}

.img-box-tree {
   display: flex;
   margin-top: 18px;
   margin-bottom: 20px;
}

.img-box-tree span:not(:last-child) {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   line-height: 21px;
   color: #FD8558;
   margin-right: 14px;
}

.img-box-tree span:last-child {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 21px;
   color: #999999;
}

.img-box-tree .square-mini {
   margin-left: 5px;
   margin-top: 8px;
   margin-right: 10px;  
   height: 5px;
   width: 5px;
   background: #DFDEDE;
}

.text-box-tree {
   margin-bottom: 36px;
}

.text-box-tree span {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 33px;
   color: #222222;   
}

.tree-block-info:nth-child(1) .tree-block-info-box .text-box-tree {
   max-width: 308px;
}

.text-box-tree a span {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   line-height: 21px;
   color: #FD8558;
   margin-top: 36px;
   letter-spacing: 0.5px;
}

.text-info-bar {
   display: flex;
   margin-top: 80px;
}

.info-bar {
   padding-left: 29px;
   margin-right: 100px;
}

.about-info {
   display: flex;
   flex-direction: column;
   width: 300px;
}

.about-info:not(:last-child) {
   margin-bottom: 45px;
}

.text-info{
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 20px;
   letter-spacing: 2px;   
   color: rgba(34, 34, 34, 0.4);
}

.text-info-address {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 33px;
   color: #222222;   
}

.form-input {
   margin-left: 34px;
}

.form-box {
   display: flex;
}

.form-box form input {
   width: 338px;
   height: 58px;
   border-radius: 0px;
   border: solid 1px #999999;
}

input::placeholder {
   padding-left: 40px;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 21px;
   color: #999999;
}

.form-box form:not(:last-child) {
   margin-right: 25px;
}

.form-box form {
   margin-bottom: 30px;
}

.form-box-2 form input {
   width: 705px;
   height: 128px;
   border-radius: 0px;
   border: solid 1px #999999;
}


.button-box-2 {
   display: flex;
   justify-content: center;
}

.button-box-2 button {
   width: 192px;
   height: 56px;
   background-color: #FD8558;
   border: solid 0px;
   margin-top: 62px;
   margin-bottom: 120px;
   margin-right: 77px;
}

.button-box-2 button span {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 700;
   font-size: 14px;
   line-height: 21px;
   text-align: center;
   color: #FFFFFF;
}

footer {
   background-color: #111;
   min-height: 447px;
}

footer .container-2 {
   padding-top: 93px;
}

.info-container {
   display: flex;
   top: 10px   ;
}

.anow-block-info span {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 40px;
   line-height: 52px;   
   color: #FFFFFF;
   padding-left: 30px;
}

.anow-block-info {
   margin-bottom: 27px;
}

.number {
   display: flex;
   margin-right: 173px;
}

.number span {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   line-height: 22px;   
   color: rgba(255, 255, 255, 0.6);
   padding-left: 30px;
   letter-spacing: 0.6px;
}

.number span:first-child {
   margin-right: -9px;
}

.number span:nth-child(even) {
   margin-right: -22px;
}

.info-about-block {
   display: flex;
   margin-bottom: 70px;
   justify-content: space-around;
   padding-right: 15px;
   padding-left: 15px;
}

.about-block-span {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 31px;   
   color: #FFFFFF;
   margin-bottom: 19px;
   padding-top: 15px;
}

.home {
   margin-right: 115px;
}

.port {
   margin-right: 125.5px;
}

.span-info {
   display: flex;
   flex-direction: column;
}

.span-info span {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 20px;   
   color: #BABABA;   
}

.span-info span:not(:last-child) {
   margin-bottom: 9px;
}

.blog-block .span-info span {
   letter-spacing: -0.4px;
}

.final-block {
   display: flex;
   justify-content: center;
}

.final {
   padding-left: 15px;
}

.final span:nth-child(odd) {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   line-height: 30px;
   text-align: center;
   letter-spacing: 0.3px;
   color: #BABABA;
}

.final span:nth-child(even) {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   line-height: 30px;
   text-align: center;
   letter-spacing: 0.1px;   
   color: #FFFFFF;
}

.final span:nth-child(1) {
   margin-right: 10px;
}

.final span:nth-child(2) {

}

.final span:nth-child(3) {

}

.final span:nth-child(4) {

}
/* --------------@media--------------- */
@media (max-width: 1437px) {
   .coup-img-box {
      flex-direction: column;
      align-items: center;
   }

   .coup-img-box-1, .coup-img-box-3 {
      display: flex;
      flex-direction: row;
   }
}

@media (max-width: 1270px) {
   .text-info-bar {
      justify-content: space-around;
   }

   .info-bar {
      margin-right: 0px;
   }
}

@media (max-width: 1260px) {
   .latest-block {
      margin-left: 0;
   }
}

@media (max-width: 1256px) {
   .violet-block .span-block span {
      font-size: 150px;
   }
}
   
@media (max-width: 1200px){
   .tree-block-img {
      grid-template-columns: repeat(1, 1fr);
   }

   .tree-block {
      justify-content: center;
   }

   .text-info-bar {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
}

@media (max-width: 1190px) {
   .our-skills-box {
      flex-direction: column;
      align-items: center;
   }

   .our-skills-text, .modern-text, .if-text{
      max-width: 505px;
   }
}

@media (max-width: 1186px) {
   .block-img {
      flex-wrap: wrap;
      justify-content: center;
   }
}

@media (max-width: 1165px) {
   .team-block {
      grid-template-columns: repeat(2, 1fr);  
   }

   .our-team-block {
      align-items: center;
   }
}

@media (max-width: 1103px) {
   footer .container-2 {
      padding-top: 0;
   }
   .info-container {
      flex-direction: column;
   }

   .anow-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 30px;
   }

   .number {
      margin-right: 0;
   }
}

@media (max-width: 1101px) {
   .about-block {
      justify-content: center;
   }

   .span-our {
      width: 90%;
   }
}

@media (max-width: 1100px) {
   .text-box-about {
      flex-direction: column;
      align-items: center;
   }

   .ultimate {
      height: 115px;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
      max-width: 500px;
   }

   .text-box-1-2 {
      align-items: center;
      max-width: 1000px;
   }

   .text-box-1 {
      padding-top: 25px;
      padding-bottom: 15px;
   }

   .text-box-2 {
      display: flex;
      text-align: center;
   }

}

@media (max-width: 1080px) {
   .nav-li {
      margin-left: 150px;
   }
}

@media (max-width: 1060px) {
   .info-bar {
      display: flex;
   }
}

@media (max-width: 1024px) {
   .nav-li {
      margin-left: 100px;
   }

   .nav-text {
      margin-left: 30px;
   }

   .about-block .holl-our img {
      padding-left: 0;
   }

}

@media (max-width: 973px) {
   /* .block-img {
      flex-direction: column;
      margin-right: 10%;
      margin-left: 10%;
   } */

   .block-img-text:not(:last-child) {
      margin-right: 0;
   }
}

@media (max-width: 960px) {
   .violet-block .span-block span {
      font-size: 130px;
   }
}

@media (max-width: 890px) {
   .nav-li {
      margin-left: 65px;
   }
}

@media (max-width: 854px) {
   .violet-block .span-block span {
      font-size: 100px;
   }
}

@media (max-width: 842px) {
   .burger-menu-button {
      position: fixed;
      top: 10px;
      right: 10px;
      z-index: 30;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.5);
      -webkit-transition: 0.4s;
      -moz-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s;
   }
   
   .burger-menu-button:hover .burge-menu-lines {
      filter: brightness(0.7);
   }
   
   .burger-menu-button:hover {
      background-color: rgba(255, 255, 255, 0.7);
   }
   
   .burger-menu-lines::before,
   .burger-menu-lines::after,
   .burger-menu-lines {
      position: absolute;
      width: 50px;
      height: 3px;
      background-color: #bb1e99;
      -webkit-transition: 0.4s;
      -moz-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s;
   }
   
   .burger-menu-lines {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
   }
   
   .burger-menu-lines::before {
      content: '';
      top: -12px;
   }
   
   .burger-menu-lines::after {
      content: '';
      top: 12px;
   }
   
   .burger-menu-active .burger-menu-lines {
      background-color: transparent;
   }
   .burger-menu-active .burger-menu-lines::before {
      top: 0;
      transform: rotate(45deg);
   }
   .burger-menu-active .burger-menu-lines::after {
      top: 0;
      transform: rotate(-45deg);
   }
   
   .burger-menu-nav {
      padding-top: 120px;
      position: fixed;
      top: 0;
      z-index: 20;
      display: flex;
      flex-flow: column;
      height: 100%;
      background-color: #f9afe9;
      overflow-y: auto;
      right: -100%;
      width: 250px;
      -webkit-transition: 0.8s;
      -moz-transition: 0.8s;
      -o-transition: 0.8s;
      transition: 0.8s;
   }
   
   .burger-menu-active .burger-menu-nav {
      right: 0;
      -webkit-transition: 0.4s;
      -moz-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s;
   }
   
   .burger-menu-link {
      padding: 18px 35px;
      font-family: 'poppins';
      font-size: 18px;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 5px;
      font-weight: 400;
      color: #bb1e99;
   }
   
   .burger-menu-link:nth-child(odd) {
      border-top: 1px solid #fff;
   }

   li:last-child .burger-menu-link {
      border-bottom: 1px solid #fff;
   }

   .burger-menu-link:hover {
      filter: brightness(0.9);
   }
   
   .burger-menu-overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: 10;
   }
   
   .burger-menu-active .burger-menu-overlay {
      display: block;
      background-color: rgba(0, 0, 0, 0.5);
   }

   .nav-li-text {
      width: 250px;
   }
}

@media (max-width: 788px) {
   .team-block {
      grid-template-columns: repeat(1, 1fr);
   }
}

@media (max-width: 768px) {
   .latest-block {
      flex-direction: column;
      align-items: center;
   }

   .latest-block-text .take {
      max-width: 600px;
      padding-left: 15px;
   }
}

@media (max-width: 765px) {
   .coup-img-box-2 img {
      max-width: 100%;
   }
}

@media (max-width: 764px) {
   .form-box {
      flex-direction: column;
      align-items: center;
   }

   .form-box form:not(:last-child) {
      margin-right: 0;
   }

   .form-box form input {
      width: 705px;
   }
}

@media (max-width: 753px) {
   .coup-img-box-1 img {
      width: 100%;
   }

   .coup-img-box-3 img {
      width: 100%;      
   }

}

@media (max-width: 744px) {
   .form-box form input, .form-box-2 form input {
      width: 600px;
   }
}

@media (max-width: 660px) {
   .info-about-block {
      flex-direction: column;
      align-items: center;
   }

   .home, .port {
      margin-right: 0;
   }
}

@media (max-width: 650px) {
   .info-bar {
      flex-direction: column;
      margin-bottom: 50px;
   }

   .text-info-bar {
      margin-top: 25px;
   }

   .form-box form input, .form-box-2 form input {
      width: 500px;
   }
}

@media (max-width: 646px) {
   .violet-block .span-block span {
      font-size: 85px;
   }
}

@media (max-width: 640px) {
   .line-box img {
      max-width: 95%;
   }

   .img-text-line {
      flex-direction: column;
      align-items: center;
   }

   .img-procent p {
      margin-left: 0;
   }

   .tipe-one, .tipe-two, .tipe-tree {
      padding-left: 0;
   }

   .our-skills {
      padding-right: 0;
   }
}

@media (max-width: 620px) {
   .out-container span {
      font-size: 150px;
   }
}

@media (max-width: 600px) {
   .about-span {
      display: none;
   }

   .about-us {
      padding-bottom: 0;
      padding-top: 0;
   }

   .img-2 {
      display: none;
   }

   .img-3 {
      display: none;
   }

   .img-4 {
      display: none;
   }

   .img-5   {
      display: none;
   }

   .img-6   {
      display: none;
   }

   .img-7 {
      display: none;
   }

   .coup-img-box-1, .coup-img-box-3 {
      flex-direction: column;
   }

   .coup-img-box-2 img {
      height: 360px;
      width: 360px;
   }
}

@media (max-width: 598px) {
   .latest-block-text .take {
      margin-right: 0;
      margin-left: auto;
      margin-right: auto;
      max-width: 400px;
   }
}

@media (max-width: 552px) {
   .violet-block .span-block span {
      font-size: 60px;
   }
}

@media (max-width: 550px) {
   .form-box form input, .form-box-2 form input {
      width: 400px;
   }
}

@media (max-width: 470px) {
   .out-container span {
      font-size: 100px;
   }
}

@media (max-width: 450px) {
   .tree-block-info {
      padding-left: 15px;
      padding-right: 15px;
   }
}

@media (max-width: 440px) {
   .form-box form input, .form-box-2 form input {
      width: 350px;
   }
}


@media (max-width: 425px) {
   .design {
      font-size: 50px;
   }

   .ultimate {
      font-size: 30px;
   }

   .button-box {
      display: flex;
      flex-direction: column;
   }

   .button-start {
      margin-bottom: 15px;
   }

   .line-block {
      display: none;
   }

   .our {
      margin-top: 50px;
   }

   .latest-block {
      flex-direction: column;
      align-items: center;
   }

   .latest-block-text {
      text-align: center;
   }

   .out-container span {
      font-size: 70px;
      margin-left: auto;
   }

   .square {
      width: 36px;
      height: 36px;
   }

   .number {
      flex-direction: column;
   }
}

@media (max-width: 400px) {
   .team-block .img-box img {
      padding-left: 20px;
      padding-right: 20px;
      height: 300px;
      width: 300px;
   }

   .violet-block .span-block span {
      font-size: 40px;
   }

   .tree-block-info {
      align-items: center;
   }

   .tree-block-info img {
      padding-left: 25px;
      padding-right: 25px;
      max-width: 90%;
   }

   .tree-block-info-box {
      margin-left: auto;
      margin-right: auto;
      max-width: 310px;
   }
}

@media (max-width: 380px) {
   .form-box form input, .form-box-2 form input {
      width: 300px;
   }
}

@media (max-width: 375px) {
   .span-frankie {
      padding-left: 40px;
   }

   .latest-block-text .take {
      font-size: 25px;
   }

   .about-block .holl-our img {
      max-width: 300px;
   }

   .on-img-block span {
      margin-left: 5px;
      padding-right: 0;
   }

   .our-team-box {
      padding-left: 25px;
   }

   .button-start-work {
      padding-left: 25px;
   }

   .text-text-1, .text-text-2, .our, .text-block, .span-text, .take, .modern-text, .if-text, .meet-span-box span, .mini-text-block .text-span-block span, .the-our-block span:not(:last-child), .text-box-tree span {
      font-weight: 300;
   }
}

@media (max-width: 347px) {
   .team-block .img-box img {
      height: 250px;
      width: 250px;
   }

   .span-box {
      left: 70px;
   }
}

@media (max-width: 320px) {
   .design-box {
      top: 190px;
   }

   /* .design {
      width: 309px;
   } */

   .button-box {
      display: flex;
      flex-direction: column
   }

   .button-start {
      margin-bottom: 15px;
   }
}
/* ----------------@import--------------- */
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic" rel="stylesheet"');